= content_for :application_name do
  = @application&.title || t('application.name')

= content_for :title do
  = @application&.title || t('application.name')

= content_for :application_tagline do
  = @application&.tagline || t('application.tagline')

= content_for :address do
  = @unity&.address

= content_for :phone do
  = @unity&.phone

= content_for :footer_links do
  = nil

= content_for :footer_logos do
  = nil

= content_for :latitude do
  = @unity&.latitude

= content_for :longtitude do
  = @unity&.longtitude

- @collection_news = @news

%br
.container
  .row-fluid
    %h1.text-center
      Ближайшие мероприятия
- @close_events.each do |event|
  .container
    .row-fluid
      = render 'tramway/landing/templates/section_with_image_and_text', block: event

- content_for :main_image do
  = request.protocol + request.host_with_port + @blocks.select { |block| block.model.block_type.header? }.first.background.url
- ::Tramway::Partner::Partnership.partnership_type.values.each do |partnership_type|
  = render 'tramway/landing/templates/features_list', block: OpenStruct.new(title: t("enumerize.tramway/partner/partnership.partnership_type.#{partnership_type}")), collection: @partners[partnership_type]
