= content_for :head_content do
  = stylesheet_link_tag    'tramway/conference/application', media: 'all'
  = javascript_include_tag 'tramway/conference/application'

= content_for :application_name do
  = @application&.title || t('application.name')

= content_for :title do
  = @application&.title || t('application.name')

= content_for :application_tagline do
  = @application&.tagline || t('application.tagline')

= content_for :address do
  = @unity&.address

= content_for :phone do
  = @unity&.phone

= content_for :footer_links do
  = nil

= content_for :footer_logos do
  = nil

= content_for :latitude do
  = @unity&.latitude

= content_for :longtitude do
  = @unity&.longtitude

- @collection_news = @news

- content_for :main_image do
  = @blocks.select { |block| block.model.block_type.header? }.first.background.url

- if @main_event.present?
  .row.main_event
    .col
      %h1.text-center
        = @main_event.title
      %h3.text-center
        = @main_event.duration
  = render 'tramway/event/events/show_page', event: @main_event, sections: @sections, sections_as_features: @sections_as_features, people_as_features: @people_as_features, partners: @main_event.partners
- else
  - ::Tramway::Partner::Partnership.partnership_type.values.each do |partnership_type|
    = render 'tramway/landing/blocks/templates/features_list', block: OpenStruct.new(title: t("enumerize.tramway/partner/partnership.partnership_type.#{partnership_type}")), collection: @partners[partnership_type]
