= content_for :head_content do
  = stylesheet_link_tag    'tramway/conference/application', media: 'all'
  = javascript_include_tag 'tramway/conference/application'

= content_for :application_name do
  = @application&.title || t('application.name')

= content_for :title do
  = @application&.title || t('application.name')

= content_for :application_tagline do
  = @application&.tagline || t('application.tagline')

= content_for :address do
  = @unity&.address

= content_for :phone do
  = @unity&.phone

= content_for :navbar do
  = nil

= content_for :footer_links do
  = nil

= content_for :footer_logos do
  = nil

= content_for :latitude do
  = @unity&.latitude

= content_for :longtitude do
  = @unity&.longtitude

- @collection_news = @news
