= stylesheet_link_tag 'tramway/event/events/show'
- if params[:flash] == 'success'
  .alert.alert-success{role: "alert"}
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", type: "button"}
      %span{"aria-hidden" => "true"} ×
    %h4.alert-heading Заявка успешно отправлена!
    %p Орг.комитет мероприятия свяжется с вами по одному из указанных вами каналов связи: телефон, email, страница ВКонтакте
    %hr/
    %p.mb-0
      По всем вопросам обращайтесь по телефону
      = tel_tag '+79278023244'
      или пишите на email
      = mail_to 'kalashnikov@ulmic.ru'
- if params[:flash] == 'error'
  .alert.alert-danger{role: "alert"}
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", type: "button"}
      %span{"aria-hidden" => "true"} ×
    %h4.alert-heading Ошибка при отправлении заявки!
    %p Подробности ошибки описаны ниже в форме приёма заявок
    %hr/
    %p.mb-0
      Если ошибка повторяется или не отображается, обращайтесь по телефону
      = tel_tag '+79278023244'
      или пишите на email
      = mail_to 'kalashnikov@ulmic.ru'
- if request.path == ::Tramway::Event::Engine.routes.url_helpers.event_path(event.id)
  = render 'tramway/landing/blocks/templates/full_page', block: event, buttons: [OpenStruct.new(title: t('.registration'), anchor: '#registration')]
%main
  .container
    -#= render 'tramway/landing/blocks/templates/features_list', block: OpenStruct.new(title: "Направления IT Way'18", description: "Вы можете выбрать любое из направлений", anchor: :features), collection: sections_as_features
    = render 'tramway/landing/blocks/templates/features_list', collection: sections_as_features
    %br
    .row
      .col
        != event.description
    %hr
    #registration
      = render 'tramway/event/participants/form', event: event
    %br
    - sections.each_with_index do |section, index|
      = render 'tramway/event/sections/show_page', section: section
      - if index < sections.count - 1
        %br
    = render 'tramway/landing/blocks/templates/features_list', block: OpenStruct.new(title: "Оргкомитет", description: "", anchor: :organizers), collection: people_as_features, options: { image: { css: { class_name: 'circle' } } }
