= stylesheet_link_tag 'tramway/event/events/show'
- if params[:flash] == 'success'
  .alert.alert-success{role: "alert"}
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", type: "button"}
      %span{"aria-hidden" => "true"} ×
    %h4.alert-heading Заявка успешно отправлена!
    %p Ваша заявка на мероприятие подтверждена!
    %hr/
    %p.mb-0
      По всем вопросам обращайтесь по телефону
      = tel_tag '+79603727276'
      или пишите на email
      = mail_to 'kalashnikov@ulmic.ru'
- if params[:flash] == 'error'
  .alert.alert-danger{ role: "alert" }
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", type: "button"}
      %span{"aria-hidden" => "true"} ×
    %h4.alert-heading Ошибка при отправлении заявки!
    %p Подробности ошибки описаны ниже в форме приёма заявок
    %hr/
    %p.mb-0
      Если ошибка повторяется или не отображается, обращайтесь по телефону
      = tel_tag '+79603727276'
      или пишите на email
      = mail_to 'kalashnikov@ulmic.ru'
- if request.path == ::Tramway::Event::Engine.routes.url_helpers.event_path(event.id)
  = render 'tramway/landing/blocks/templates/full_page', block: event, buttons: [OpenStruct.new(title: t('.registration'), anchor: '#registration')]
- content_for :main_image do
  = request.protocol + request.host_with_port + event.background.url
%main.event.show
  .container
    = render 'tramway/landing/blocks/templates/features_list', collection: sections_as_features
    .row.description
      .col
        != event.description
    #registration
      = render 'tramway/event/participants/form', event: event
    - sections.each_with_index do |section, index|
      = render 'tramway/event/sections/show_page', section: section
      - if index < sections.count - 1
        %br
    = render 'tramway/landing/blocks/templates/features_list', block: OpenStruct.new(title: "Оргкомитет", description: "", anchor: :organizers), collection: people_as_features, options: { image: { css: { class_name: 'circle' } } }
    - ::Tramway::Partner::Partnership.partnership_type.values.each do |partnership_type|
      = render 'tramway/landing/blocks/templates/features_list', block: OpenStruct.new(title: t("enumerize.tramway/partner/partnership.partnership_type.#{partnership_type}")), collection: partners[partnership_type]
