.container.text-center{ id: block.anchor }
  %h2.mb-4.font-weight-bold
    = block.title
  %p.grey-text
    = block.description
  .row
    -# FIXME bad guy mode ON
    - eval("@collection_#{block.anchor}")&.each do |item|
      .col-lg-4.col-md-12.mb-4
        - if item.path.present?
          -# FIXME
          .card.link{ onclick: "window.location.href = '#{item.path}';" }
            .view.overlay.hm-white-slight
              = image_tag item.image || '', class: 'img-fluid'
            = link_to '#' do
              .mask
            .card-body
              %h4.card-title
                = item.title
              %p.card-text
                = strip_tags item.description
              - if item.button.present?
                = link_to item.button.text, item.button.url, class: 'btn btn-primary'
        - else
          .card
            .view.overlay.hm-white-slight
              = image_tag item.image || '', class: 'img-fluid'
            = link_to '#' do
              .mask
            .card-body
              %h4.card-title
                = item.title
              - if item.description
                %p.card-text
                  = item.description
              - if item.button.present?
                = link_to item.button.text, item.button.url, class: 'btn btn-primary'
