%main.mt-5{ id: block.anchor }
  .container
    %section#best-features.text-center
      %h2.mb-4.font-weight-bold
        = block.title
      .row.d-flex.justify-content-center.mb-4
        .col-md-8
          %p.grey-text
            = block.description
      .row
        - eval("@collection_#{block.anchor}").each do |item|
          .col-md-4.mb-1
            - if item.icon.present?
              %i.fa.fa-camera-retro.fa-4x.orange-text{ class: "fa-#{item.icon}" }
            - else
              = image_tag item.image
            %h4.my-4
              = item.title
            %p.grey-text
              != item.text
    %hr.my-5/
    %section#examples
    %hr.my-5/
    %section#gallery
    %hr.my-5/
    %section#contact
