= javascript_include_tag 'tramway/landing/footer'
%footer.page-footer.indigo.center-on-small-only
  .container-fluid
    .row
      .col-md-6
        %h5.title
          = @application.title
        %p
          = @application.tagline
        .logo_collage.effect-parent
          = yield :footer_logos
      .col-md-6
        = yield :footer_links
  .footer-copyright
    .container-fluid
      - external_url = if @application.url.present?
        - @application.url.include?('http') || @application.url.include?('https') ? @application.url : "http://#{@application.url}"
      - else
        - ''
      = link_to copyright(@application&.found_date&.year || DateTime.now.year, @application.title), external_url
