= javascript_include_tag 'tramway/landing/smooth-scroll'
- content_for(:navbar) do
  %nav.navbar.navbar-expand-lg.navbar-dark.indigo.scrolling-navbar.fixed-top
    = link_to yield(:application_name), '#', class: 'navbar-brand'
    %button.navbar-toggler{ type: :button, data: { toggle: :collapse, target: '#navbarSupportedContent' }, aria: { controls: 'navbarSupportedContent', expanded: 'false', label: 'Toggle navigation' } }
      = fa_icon :bars
    .collapse.navbar-collapse#navbarSupportedContent
      %ul.navbar-nav.mr-auto
        - @links.each do |link|
          = menu_item link.title, link.link
= render 'tramway/landing/blocks/templates/full_page', block: header_block(block, title: yield(:application_name), tagline: yield(:application_tagline)), buttons: @links
%script
  var scroll = new SmoothScroll('a[href*="#"]');
