- if searchable_model?(model_class) || decorator_class(model_class).list_filters.any?
  .col-md-6
    .search
      = form_tag records_path, method: :get do |f|
        .form-group.text
          .input-group
            - if searchable_model?(model_class)
              = text_field_tag :search, params[:search], class: 'text form-control'
            = hidden_field_tag :model, params[:model]
            = hidden_field_tag :scope, params[:scope]
            = hidden_field_tag :filter, params[:filter]
            - decorator_class(model_class).list_filters.each do |filter|
              = select_tag "list_filters[#{filter[0]}]", build_options_for_select(filter[0], filter[1][:select_collection]), include_blank: true, class: 'form-control'
            .input-group-append
              = submit_tag t('helpers.actions.search'), class: 'btn btn-primary'
