- if object.class.show_associations.map(&:to_s).include? association.name.to_s
  %tr
    %td
      = model_class.human_attribute_name association.name
      = link_to "Add #{model_class.human_attribute_name(association.name).singularize}", new_associated_record_path(association: association, object: object), class: 'btn btn-primary'
    %td{ colspan: 2 }
      %table.table.table-striped.table-bordered
        - object.send(association.name)&.each do |association_object|
          %tr
            %td
              = association_object.id
            %td
              = link_to association_object.name, record_path(association_object.id, model: association.options[:class_name])
