- default_page_title ||= nil; on_site_link ||= nil
- current_title = default_page_title || model_class.model_name.human.pluralize(:ru)
- title current_title

= content_for :sidebar do
  .btn-group-vertical
    = build_buttons ::Tramway::Admin.additional_buttons(record: @singleton.model.class.to_s, view: :show)
.page-header
  .row
    .col-md-6
      %h2
        = current_title
        = link_to fa_icon(:pencil), edit_current_model_singleton_path, class: 'btn btn-warning btn-xs'
%hr
.row
  %table.table.table-striped.table-bordered
    - @singleton.attributes.each do |attribute_name, value|
      %tr
        %td
          = model_class.human_attribute_name attribute_name
        %td
          = value
