<!DOCTYPE html>
<html>
<head>
  <title>Tramway notify</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "tramway/notify/application", media: "all" %>
  <%= javascript_include_tag "tramway/notify/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
