- records_in_the_row = 4
- if defined?(::Tramway::Profiles)
  - social_networks = (@application.social_networks.active if @application.respond_to?(:social_networks)) unless social_networks
  - social_networks&.each do |profile|
    %ul.list-group
      %li.list-group-item
        = profile_link profile
- if yield(:phone).present? || yield(:email).present?
  .row.features-small.mt-5.wow.fadeIn
    - if yield(:phone).present?
      .col-xl-3.col-lg-6
        .row.link{ data: { href: "tel:#{phone}" } }
          .col-2
            %i.fas.fa-2x.mb-1.fa-phone.indigo-text{ aria: { hidden: 'true' } }
          .col-10.mb-2.pl-3
            %h5.feature-title.font-bold.mb-1
              = yield(:phone)
    - if yield(:email).present?
      .col-xl-3.col-lg-6
        .row.link{ data: { href: "mailto:#{email}" } }
          .col-2
            %i.fas.fa-2x.mb-1.fa-envelope.indigo-text{ aria: { hidden: 'true' } }
          .col-10.mb-2.pl-3
            %h5.feature-title.font-bold.mb-1
              = yield(:email)
