- if link.is_a? Hash
  .nav-item.dropdown
    %a.nav-link.dropdown-toggle{ id: "dropdown_menu_button_#{link.keys.first}", aria: { expanded: :false, haspopup: :true }, data: { toggle: :dropdown } }
      = link.keys.first
    .dropdown-menu.dropdown-primary{ aria: { labelledby: "dropdown_menu_button_#{link.keys.first}" } }
      - link.values.first.each do |menu_item|
        = link_to menu_item.title, menu_item.link, class: 'dropdown-item'
- else
  = menu_item link.title, link.link
