= render 'layouts/tramway/landing/meta'
%title
  = yield(:title).present? ? yield(:title) : @application.title
= stylesheet_link_tag    'tramway/landing/application', media: 'all'
= javascript_include_tag 'tramway/landing/application'
= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity: 'sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin: 'anonymous'
= javascript_include_tag 'https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity: 'sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin: 'anonymous'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity: 'sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin: 'anonymous'
= csrf_meta_tags
- if @application&.favicon.present?
  = favicon_link_tag @application.favicon
- ::Tramway::Landing.head_content.each do |content|
  - self.instance_exec &content
- @tools&.each do |tool|
  = render "layouts/tramway/landing/tools/#{tool.title}_head", account_id: tool.account_id
